<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src='socket.io/socket.io.js'></script>
    <script src="javascripts/main.js"></script>
    

  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="text" id="text">
    <input type="text" id="name">
    <input type="button" id="sendtext" value="GO text!">

    <!--<form action="/upload" method="post" enctype="multipart/form-data">-->
	   <input type="file" id="file_test" name="uploadfile" multiple="multiple">
	   <input type="submit" id='uploadbutton' value="GO">
	  <!--</form>-->
    <div id="divshow">
      
    </div>
  </body>
</html>
