<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheese 老師</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="<%- url %>/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%- url %>/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/cheese.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header class="main1">
        <nav class="navbar  navbar-inverse navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Cheese 老師</a>
            </div>
            <div class="collapse navbar-collapse" id="option">
              <ul class="nav navbar-nav">
                  <li ><a href="/routes/course">討論區</a></li>
                  <li ><a href="/pretest/course/">考古題</a></li>
                  <li ><a href="/">筆記區</a></li>
                  <li class="dropdown">
                      <a href="#" data-target="#" class="gameselect" data-toggle="dropdown">
                      遊戲
                      <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li ><a class='ui-single' data-target=".singlequestion-modal" data-toggle='modal' >單題發問</a></li>
                          <li ><a href="/gameweb">遊戲區</a></li>
                      </ul>
                 </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><img class="ui-avatar" style="height:40px; padding-top:5px;"></li>
                <li><p class="ui-name" style="color:#fff"></p></li>
                <li><a type="button" class="btn" id="Logout">Logout</a></li>
              </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                    <a type="button" class="btn" data-toggle="modal" data-target=".signin-modal" >Sign In</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <div class="main2" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br><br><br><br><br><br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="element"></div>
                    <span id="fix"> Let's <span id="typed"></span>! </span>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>學生學習與交流的最佳場所</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 text-center">
                    <a  class="btn btn-success" href="#Memembers">我們是誰 🧀 </a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <section id="features">
    	<div class="container">
        	<div class="feature">
                <div class="row">
                    <div class="col-md-12">
                      	<div class="local_heading">
                        	<h2>FEATURES</h2>
                        </div>
                    </div>
                </div>
                <div class="feature_content">
                    <div class="feature_inner">
                        <div class="feature_img">
                            <img src="img/fe2.png" alt="" />
                        </div>
                        <div class="feature_text">
                            <h2 class="feature_text_head">討論區讓你不孤單</h2>
                            <p></p>
                            <p>
    除了基本討論區功能的部份，針對學生討論知識上遇到的困難、並有收納及整理各同學分享的知識功能。允許學生以暱稱方式來進行提問及討論，解決學生在遇到問題時也能勇敢發出提問，以及向其他同學作出深入討論。</p>
                        </div>
                    </div>

                    <div class="feature_inner">
                        <div class="feature_img">
                            <img src="img/fe3.png" alt="" />
                        </div>
                        <div class="feature_text">
                            <h2 class="feature_text_head">考古題掌握考試方向</h2>
                            <p>考古題區的設計是為了解決學生在學期中和學期未考試時，找不到實用例題來練習的窘境，能夠提供更多以往課堂題目作為參考及練習。此外，搭配TAG 標籤的搜尋應用，令筆記交流更加靈活。</p>
                            <p>
    功能設計方面主要有上載檔案、下載檔案、瀏覽，次要功能還有為檔案建立TAG標籤、TAG過濾、按檔案類別過濾等多種過濾，以方便使用者跟據個人需求而定。</p>
                        </div>
                    </div>

                    <div class="feature_inner">
                        <div class="feature_img">
                            <img src="img/fe4.png" alt="" />
                        </div>
                        <div class="feature_text">
                            <h2 class="feature_text_head">共同筆記，交流更順利</h2>
                            <p>共同筆記部分採用台灣人開之”HackMD”開源專案作為基底開發，除了為Open source之外，筆記更採用Markdown格式，使之簡單、易懂外，讓您手不離開鍵盤，即可有效率的編寫完整份筆記，也支援電子書的格式，讓轉換更為效率。</p>
                            <p>
        除了上述功能，筆記更可以匯出成pdf、html格式，讓您可以再沒網路的地方存下來閱讀，也使得期中考前複習更方便，不用擔心會有紙本筆記找不到放在哪裡的問題。</p>
                        </div>
                    </div>

                    <div class="feature_inner">
                        <div class="feature_img">
                            <img src="img/fe1.png" alt="" />
                        </div>
                        <div class="feature_text">
                            <h2 class="feature_text_head">Tag標籤，搜尋無煩惱</h2>
                            <p>我們運用標籤機制，在每個知識物件上(如文章、筆記、考古題檔案)加上多個方便辨識的個人化TAG，日後使用者只需輸入TAG的關鍵字，系統即能方便迅速地提取知識物件的所有相關內容。</p>
                            <p>
    針對使用者使用習慣，我們設計出TAG集合功能，目的是讓使用者能組合個性人化TAG，並透過搜尋過濾出相關知識物件。</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="laptop">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="img/01.jpg" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="img/02.jpg" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="img/03.jpg" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>

        </div>
    </div>
    </div>
    <!-- 筆電畫面 -->
<!--
    <div class="laptop-slider">
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 laptop-placeholder">
            <div class="slideshow">
            <figure class="show"><img alt="" src="img/slider/slide-01.png" /></figure>
            <figure><img alt="" src="img/slider/slide-02.png" /></figure>
            <figure><img alt="" src="img/slider/slide-01.png" /></figure>
            <figure><img alt="" src="img/slider/slide-02.png" /></figure>
            <span class="prev"><i class="fa fa-angle-left fa-4x"></i></span>
            <span class="next"><i class="fa fa-angle-right fa-4x"></i></span>
            </div>
            </div>
            <div>
            </div>
          </div>
        </div>
    </div>
-->
    <!-- 圖+介紹 -->
    <!--
    <div class="main3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="people-woman-coffee-meeting-large.jpg" alt="" />
                </div>
                <div class="col-md-6">
                    <h1> 踏上旅程 👉 <small>一起來cheese 老師！</small></h1>
                    <br>
                    <p class="lead">挖哈哈</p>
                    <p>下學人！之自他已接親義嚴毒政角自中生持毒次客定不景親麼麼？精是路白止說眾的人然下學人！之自他已接親義嚴毒政角自中生持毒次客定不景親麼麼？精是路白止說眾的人然下學人！之自他已接親義嚴毒政角自中生持毒次客定不景親麼麼？精是路白止說眾的人然件裡夫劇性公演我眾期是就曾頭人能花去無什建布相聲我來靈小是不究細只景活想年以只山各機東麼中趣及在，已其半樣適他文快小我、成來度人麼收，案行問有回香院他投最方有們性，利寶值以水著，景們展電包女！見得富己以天清家八產感哥城過來了次發道，有你身卻感管工是難這上龍筆早！科不眼上存本兒陸有視多們山保了天毒已食當遊年，動兒。</p>
                </div>
            </div>


        </div>
    </div>
    -->

    <!-- 三張卡特點說明

    <div class="cards">
        <div class="container">
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <h3 class="panel-title text-center">Markdown 格式</h3>
                      </div>
                      <div class="panel-body">
                          <ul>
                              <li>易讀易寫</li>
                          </ul>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h3 class="panel-title text-center">友善介面</h3>
                      </div>
                      <div class="panel-body">
                          <ul>
                              <li>方便快速</li>
                          </ul>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title text-center">互相學習</h3>
                      </div>
                      <div class="panel-body">
                          <ul>
                              <li>學生主動交流、分享</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr>
            </div>



        </div>
    </div>
    -->



    <!-- 箭頭 -->
    <div class="container">
    <div class="arrow" id="Memembers"></div>
    </div>

    <!-- 團隊介紹  -->
      <div class="container carousel" >
          <div class="row">
          	<div class="feature">
                	<div class="local_heading">
                  	<h2>MEMBERS</h2>
                  </div>
              </div>
          </div>
        <div class="row" >

        <div class="col-md-3">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/c01.jpg" alt="Carousel Img">
          </div>
          <div class="carousel-avatar av1">
          </div>
          <div class="carousel-content">
            <h3 class="text-center">蘇彥昀</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa.</p>
          </div>
        <div class="overlay"></div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/c02.jpg" alt="Carousel Img">
          </div>
          <div class="carousel-avatar av2">
          </div>
          <div class="carousel-content">
            <h3 class="text-center">鍾文翔</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa.</p>
          </div>
          <div class="overlay"></div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/c03.jpg" alt="Carousel Img">
          </div>
          <div class="carousel-avatar av3">
          </div>
          <div class="carousel-content">
            <h3 class="text-center">嚴仂妤</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa.</p>
          </div>
          <div class="overlay"></div>
        </div>
        </div>

        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/c04.jpg" alt="Carousel Img">
          </div>
          <div class="carousel-avatar av4">
          </div>
          <div class="carousel-content">
            <h3 class="text-center">陳兆榮</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa.</p>
          </div>
          <div class="overlay"></div>
        </div>
        </div>
      </div>
      <div class="row">
          </br>
      </div>
      <div class="row">
          <div class="col-md-4">
          </div>

          <div class="col-md-4">
          <div class="ca-hover">
            <div class="carousel-img">
              <img src="img/c01.jpg" alt="Carousel Img">
            </div>
            <div class="carousel-avatar av1">
            </div>
            <div class="carousel-content">
              <h3 class="text-center">鍾幸軒</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa.</p>
            </div>
          <div class="overlay"></div>
          </div>
          </div>

          <div class="col-md-4">
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="controls">
          <a class="btn btn-primary" href="https://github.com/Cheese-teacher/Cheese"> view our github</a>
        </div>
      </div>
    </div>

    <!-- 使用情境  -->
    <!-- reference from https://stackedit.io/
    <div class="main4">
        <div class="container">
            <div class="row">
                <br>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <img src="img/responsive.png" class="img-responsive img-rounded" alt="Notemook pad phone" wigth="600px" height="400px">
                </div>
                <div class="col-md-5">
                    <h1>Fully Responsive</h1>
                    <br/>
                    <h4>Learn on the web and on the go.</h4>
                    <h4>Always pick up where you left off. </h4>
                    <h4>More simple and enjoyable than ever!</h4>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    -->

    <!-- Hackmd 介紹 -->
    <div class="hackmd">
        <div class="inner cover">
            <h1 class="cover-heading">Based on <a href="https://hackmd.io/" style="color:#fff"><i class="fa fa-file-text" ></i> HackMD</a> <i class="fa fa-heart" style="color:red"></i></h1>
            <br>
            <p class="lead">
                您使用 Markdown 寫作與分享知識的最佳方式
            </p>
            <br>
            <div class="lead row" style="width: 90%; margin: 0 auto;">
                <div class="col-md-4 inner">
                    <a href="https://hackmd.io/features#share-notes">
                        <i class="fa fa-bolt fa-3x"></i>
                        <h4>使用網址協作</h4>
                    </a>
                </div>
                <div class="col-md-4 inner">
                    <a href="https://hackmd.io/features#mathjax">
                        <i class="fa fa-bar-chart fa-3x"></i>
                        <h4>支援圖表與 MathJax</h4>
                    </a>
                </div>
                <div class="col-md-4 inner">
                    <a href="https://hackmd.io/features#slide-mode">
                        <i class="fa fa-tv fa-3x"></i>
                        <h4>支援簡報模式</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-main">
        Contact us ,<a href="https://github.com/Cheese-teacher/Cheese/graphs/contributors"> here</a>
        © 2016 Cheese , All rights reserved.
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>    <!-- Latest compiled and minified JavaScript -->
    <script src="<%- url %>/vendor/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="./javascripts/cheese_index.js"></script>
    <script src="./javascripts/scripts.js"></script>
    <script src="./javascripts/unslider.min.js"></script>
    <script src="./javascripts/typed.js-master/js/typed.js"></script>
    <script>
      $(function(){
          var CheeseString = ["Cheese 老師 ^3000 "];
          $("#typed").typed({
            strings: CheeseString,
            contentType: 'html',
            typeSpeed: 100, // typing speed
            backDelay: 750, // pause before backspacing
            loop: true,
            showCursor: true,
            cursorChar: "|"
          });
          login();

      });
    </script>
    <%- include signin-modal %>

</body>
</html>
