<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name=description content="hot note">
    <meta name=author content="Cheese team">
    <title>熱門筆記版</title>
    <link href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css rel=stylesheet>
</head>

<body>
    <div>
        <nav class="navbar navbar-fixed-top navbar-inverse" role=navigation>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle=collapse data-target=#navbar aria-expanded=false aria-controls=navbar> <span class=sr-only>Toggle navigation</span> <span class=icon-bar></span> <span class=icon-bar></span> <span class=icon-bar></span> </button> <a class=navbar-brand href=#>Cheese-Teachers</a></div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href=#>筆記區</a>
                        <li><a href="#about">關於我</a>
                        <li><a href="#contact">討論區</a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="#contact">贊助我們</a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br/>
    <br/>
    <br/>
    <div class=container>
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <p class="pull-right visible-xs">
                
                    <button type=button class="btn btn-primary btn-xs" data-toggle=offcanvas>Toggle nav</button>
                    
                    <div class=jumbotron>
                        <h1>熱搜筆記</h1>
                        <p>來吧!所有公開的筆記都可在這裡查詢到,搜尋需要的資料吧!
                    </div>
                    
    

                    <div class=row>
                    <% for ( var i = 0 ; i < data.length ; i++){ %>
                        <% if (content[i]!=""){ %>
                        <div class="col-xs-6 col-lg-4">
                        <img src="note.jpg" alt="..." class="img-responsive img-thumbnail" alt="Responsive image" style="width:300px;height:180px">
                        <h2><%=profile[i].name %></h2>
                            <p><%= content[i]%>
                                <p><a href="http://localhost:3000/<%-notestring[i]%>"  class="btn btn-default" role=button>View details &raquo;</a>
                        </div>
                        <% } %>
                    <% } %>    

                    </div>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id=sidebar role=navigation>
                <div class=list-group>
                    <a href=# class="list-group-item active">熱門筆記區</a>
                    <a href=# class=list-group-item>點擊率</a>
                    <a href=# class=list-group-item>系所</a>
                    <a href=# class=list-group-item>討論度</a>
                    <a href=# class=list-group-item>考古題專區</a>
                </div>
            </div>
        </div>
        <hr>
        <footer>
        </footer>
    </div>
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js></script>
    <script src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js></script>
</body>

</html>
