<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  <!--fancyBox js-->
  <link rel="stylesheet" href="javascripts/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="javascripts/fancybox/jquery.fancybox.js"></script>

  <!--fancyBox js-->

  <script src='socket.io/socket.io.js'></script>
  <script src="javascripts/main.js"></script>
</head>

<body>

  <h1 id="onlinepeople"> </h1>
  <div id="img_zoom" style="display:none;float:left; position:absolute;width:70%;height:75%;"><img id='img_zoom2'></img>
  </div>
  <input type="text" id="name">



  <!--<form action="/upload" method="post" enctype="multipart/form-data">-->


  </br>

  <input type="text" id="links">
  <input type="button" id="sendlink" value="GO link">

  <input type="file" id="video_test" name="uploadfile" multiple="multiple">

  <!--</form>-->


  <div id="divsend" style="width:375px ;background-color:white; border: 5px solid grey;">
    <input type="file" id="file_test" name="uploadfile" multiple="multiple"></br>

    <textarea id="text" rows="3" cols="50">

	</textarea>

  </div>
  <input type="button" id="sendtext" value="確定">
  <label for="pre-test-upload" style="border:5px solid grey;">考古題上傳</label>
  <input type="file" value="考古題上傳" id="pre-test-upload" multiple="multiple" style="display:none;">
  <!--考古題-->
  <!--</form>-->
  <div id="pre-test-upload-show" style=";border:5px solid red ;display:none"></div>
  <div id="divshow" style="background-color:white; border: 5px solid grey;">

  </div>


</body>

</html>