<nav class="navbar  navbar-inverse navbar-default ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/cheese_index">Cheese 老師</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <b class="caret"></b>
        </a>
        <ul class="dropdown-menu classselect">

        </ul>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="option">
      <ul class="nav navbar-nav">
          <li id="forum"><a href="/routes/course">討論區</a></li>
          <li id="prevtest"><a href="/pretest/course/">考古題</a></li>
          <li ><a id="note">筆記</a></li>
          <li class="dropdown">
              <a href="#" data-target="#" class="gameselect" data-toggle="dropdown">
              遊戲
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li ><a class='ui-single' data-target=".singlequestion-modal" data-toggle='modal' >單題發問</a></li>
                  <li ><a href="/gameweb">遊戲區</a></li>
              </ul>
         </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><img class="ui-avatar"></li>
        <li><span class="ui-name"></span></li>
        <li><a type="button" class="btn" id="Logout">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>
