

<!-- talk Modal -->
<div class="modal  question-modal" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 99999">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">問題</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-10">
                        <form class="form-question">
                            <h3 class="contentq"></h3>
                                
                            <div class="form-group">
                                <div class="radio">
                                    <label class="radio" id="qw1"></label>
                                </div>
                                
                                <div class="radio">
                               
                                    <label class="radio" id="qw2" ></label>
                                </div>
                                
                                
                                <div class="radio">    
                                    <label class="radio " id="qw3" ></label>
                                </div>
                                
                                
                                <div class="radio"> 
                                    <label class="radio " id="qw4"></label>
                                </div>
                            </div>    
                            
                                
                            
                            
                             
                        </form>
                        <div class="form-group col-sm-9 ">
                                <button class="btn btn-primary  ui-talkrun"   >確定</button>
                                <button  class="btn btn-warning  ui-cancel"  >取消</button>
                            </div>
                         
               
                    </div>
            
                </div>
       
      
            </div>
        </div>
    </div>
</div>
