<!DOCTYPE html>
<html lang="en">

<head>
    
    
    
    <%- include head %>
   
</head>

<body>
    <div class="header">
        <h1>Cheese 老師!</h1>
    </div>
    <div class="content2">
            <div class="timer_wrap">
                <div id="counter">答對0題</div>       
            </div>
    </div>
    <div class="content">
        <div class="progress-ring" data-percent="60" data-color="#f8d5d5,#ff4242" data-duration="6"></div>
    </div>
    
    <%- include foot %>
    <%- include question-modal %>
    
    <script src="http://localhost:3000/routes/game.js" defer></script>
</body>

</html>
