<!DOCTYPE html>
<html lang="en">

<head>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer></script>  
    
    <%- include head %>
   
</head>

<body>
    <div class="header">
        <h1>Cheese 老師!</h1>
    </div>
    <div class="content">
        <div class="content1"> 
            <img src="http://localhost:3000/public/images/logo.png" alt="under-construction">
        </div>
        <div class="content2">
            <div class="gotogame">
                
            <a href="http://localhost:3000/index/game/start" class="btn btn-primary bb-trigger btn-lg  bb-light-blue ui-talk">開始遊戲</a>       
            </div>
        </div>
        <div class="content3">
            <p>Cheese老師的同時~讓我們對學習Say Cheese吧OWO</p>
        </div>
        
        
    </div>
    
    <%- include foot %>
    <script src="http://localhost:3000/routes/start.js" defer></script>
</body>

</html>