*{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
background-color:#e1e1e1;
}
div{
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


@keyframes animeleupdown{
    0%{
      top:0px;
    }
    25%{
      top:-3px;
    }
    50%{
      top:-5px;
    }
    75%{
      top:-3px;
    }
    100%{
      top:-5px;
    }

}

.fullcol{
	background-color: #FFFFFF;
	padding:25px;
}
.fullcol2{
	margin-top:10px;
	background-color: #FFFFFF;
	padding:25px;
}
.eleupdown:hover{

	animation-name:animeleupdown;
    animation-duration:0.5s;
    animation-iteration-count:1;
    animation-timing-function:linear;
    animation-direction:normal;
}
#live_area {
	margin-bottom:40px;
}
#live_text{
	color:red;
	font-size:36px;
	height:50px; 
	border-bottom:1px solid #ff7c7c;
	margin-bottom:15px;
}
#live_div{
	width:100%;
	padding-right: 15px;
	padding-left:60px;
	padding-bottom:15px;
	background-color:white;
	margin-bottom:20px;
	overflow:auto;
	white-space:nowrap;
	background-color:#404040;
	box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.73);
}
.live_video{
	margin-right:20px;
	margin-top:15px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.73);
}
#pretest_area{
	margin-bottom: 40px;
}
#pt_btndiv{
	box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.5);
}
#pretest_text{
	color:#1F3DFE; 
	font-size:36px;
	height:50px; 
	border-bottom:1px solid #1F3DFE;
	margin-bottom:15px;
	font-family:Microsoft JhengHei;
}
#pt_b1{
	padding:0px;
	margin:0px;
	height:30px;
	width:49.5%;
	text-align:center;
	background-color:#3A68FE;
	color:#FFFFFF;
	border:1px solid #2C5DFE;
	font-family:Microsoft JhengHei;
}
#pt_b2{
	color:#2C5DFE;
	height:30px;
	padding:0px;
	width:49.5%;
	border:1px:solid black;
	text-align:center;
	border:1px solid #2C5DFE;
	font-family:Microsoft JhengHei;
}
.posting-fourbutton{
	height:80px;
	width:100%;
	padding:0px;
	margin-bottom:40px;
}

#newest-btn{
		font-family:Microsoft JhengHei;
	font-size:25px;
color:#FFFFFF;
font-weight: 700;
border:0px;
background: linear-gradient(to bottom, rgba(123,204,237,1) 29%,rgba(87,167,229,1) 64%,rgba(87,167,229,1) 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#newest-btn:hover{
background: linear-gradient(to bottom, rgba(0,118,244,0) 0%,rgba(6,1,158,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color:#020AEF;
border:1px solid #0274FF;
}
#hotest-btn{
font-family:Microsoft JhengHei;
font-size:25px;
color:#FFFFFF;
font-weight: 700;
border:0px;
background: linear-gradient(to bottom, rgba(252,210,95,1) 14%,rgba(234,158,16,1) 56%,rgba(255,123,0,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#hotest-btn:hover{
background: linear-gradient(to bottom, rgba(0,118,244,0) 0%,rgba(6,1,158,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color:#FE4501;
border:1px solid #ff8132;
}
#new_post{
		font-family:Microsoft JhengHei;
font-size:25px;
color:#FFFFFF;
font-weight: 700;
border:0px;
background: linear-gradient(to bottom, rgba(123,255,96,1) 14%,rgba(44,226,15,1) 55%,rgba(0,255,0,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#new_post:hover{
background: linear-gradient(to bottom, rgba(0,118,244,0) 0%,rgba(6,1,158,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color:#2ABF01;
border:1px solid #39FF02;
}
#live_btn{
		font-family:Microsoft JhengHei;
	font-size:25px;
	color:#FFFFFF;
	font-weight: 700;
	border:0px;
	background: linear-gradient(to bottom, rgba(255,125,96,1) 16%,rgba(224,43,15,1) 60%,rgba(255,29,0,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#live_btn:hover{
	background: linear-gradient(to bottom, rgba(0,118,244,0) 0%,rgba(6,1,158,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color:#BF0101;
	border:1px solid #FF0202;
}
.grid-item{
	background-color:#FFFFFF;
	border-radius: 15px;
	border:3px solid #D0D0D0 ;
	box-shadow: 0px 0px 16px 0 rgb(137, 136, 136,0.8),0 6px 20px 0 rgb(230, 238, 255);
	padding-top:10px;
}
.grid-item:hover{
	background-color:#FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 16px 0 rgb(103, 209, 255),0 6px 20px 0 rgb(230, 238, 255);
}
#post-title ,#new_post_youtube_text,#new_post_tag{
	width:100%;
	border:0px;
	border-bottom:1px solid #88aaff;
}
#name2{
		border:1px solid #88aaff;
}

#text,#new_post_code{
	width:100%;
	resize : none;
	border:1px solid #88aaff;


}
#userico{
		text-align-last: center;
		color:#1B39FE;
    font-size: 14px;
    border: 1px solid #adc4ff;
}
#posttype{
	width:70%;
	text-align-last: center;
    font-size: 19px;
    border: 1px solid #adc4ff;

}
.new_post_buttext{
	font-size: 15px;
	font-weight: normal;
	font-family:Microsoft JhengHei;
}
#new_post_youtube_text,#new_post_code,#new_post_tag{
	width:100%;
	display:none;
}
#new_post_preimg{
	display: inline;
}
.new_post_pi{
	padding:10px;
	margin:0px 10px 10px 0px;
	border-right:2px solid #adc4ff;
	border-bottom:2px solid #adc4ff;
	border-radius: 15px;
}
#sendtext{
	width:100%;
	height:40px;
	background-color:#4778f6;
	border:0px;
	border-radius: 5px 5px 15px 15px;
	font-size:24px;
	color:#ffffff;

}
#post-title,#ano, #posttype ,#text ,#new_post_img ,#new_post_preimg ,#lab-links ,#new_post_youtube_text ,#new_post_code_tmp ,#new_post_code,#margin,#new_post_tag{
	margin:0% auto 2% auto;
}

#comm_content,#comm_code{
	width:80%;
	resize: none;
}
.a{
	border:2px solid #c2c2c2;
}
#divshow{
	float:left;

}
.posting-one{
}
.posting-one-imgcontent{
	display: inline-block;
		padding:0px;
		margin:0px;
		min-width:12%;
}
.posting-one-img{
	height:50px;
	width:50px;
	background-color:#ED6976;
	border-radius:30px;
	margin:10px 10px 0px 10px;

}
.posting-one-type{
	display: inline-block;
	 width:75%;
	 word-break:break-all;
	 position:relative;
	 top:0px;
	 margin:0px;
	 padding:0px;

}
.posting-one-t {
	font-size:14px;
	font-weight:900;
	font-family:Microsoft JhengHei;
}
.posting-one-date{
	color:#919191;
	font-size:10px;
}
.posting-two .postingthree{
	width:100%;
}
.posting-two-showbutton{
	color:#252CFE;
	text-decoration:underline;
	font-family:Microsoft JhengHei;
}
.posting-bar-bar{
	width:86%; 
	display:inline-block;
}
.posting-bar-scroe{
	display:inline-block;
	width:14%;

}
.posting-two-tag{
	margin:0% 5%;
	word-break: break-all;
}
.posting-two-tag>span{
	margin:1% 1%;
	display:inline-block;
	padding:5px;
	background-color: rgba(50,50,50,0.2);
	color:rgba(27,57,255,0.8);
	border-radius:3px;
}
.posting-two-content{
	width:90%;
	margin:5%;
	border-left:4px solid #D9E6F6;
	padding-left:10px;
	border-radius:2px;
	font-size:18px;
	font-family:Microsoft JhengHei;
	word-break: break-word; //超過DIV 長度文字換行
}
.posting-two-button{
	width:90%;
	margin:5%;
}
.lesstext_show{
	border:0px;
	font-size:14px;
}
.posting-three-code{
	word-wrap: break-word;
	max-width:80%;
	box-shadow: 0px 0px 16px 0 rgb(137, 136, 136),0 6px 20px 0 rgb(230, 238, 255);
	margin:2% auto;
}
.posting-three-pic{
	max-width:80%;
	box-shadow: 0px 0px 16px 0 rgb(137, 136, 136),0 6px 20px 0 rgb(230, 238, 255);
	margin:2% auto;
	width:90%;
}
.posting-three-youtube{
max-width:80%;
box-shadow: 0px 0px 16px 0 rgb(137, 136, 136),0 6px 20px 0 rgb(230, 238, 255); 	
	margin:2% auto;
}
.posting{
	width:100%;
	float:left;
	background:#01071D;
	margin-bottom: 3%;
	padding:10px 0px 10px 0px;
	border-width: 0px 1px 2px 0px;
	border-style:outset;
	border-color:#CCC;

}
.posting:hover{
	box-shadow: 5px 8px 16px 0 rgb(230, 238, 255),0 6px 20px 0 rgb(230, 238, 255);
}
.posting-l{
	margin:1% 3% auto 2%;
	background:#ffcccc;
	float:left;
}
.posting-r{
	float:left;
	width:85%;
	word-wrap: break-word; //超過DIV 長度文字換行
}
.posting-r-nd{
	color:#4d79ff;
	font-weight:bloder;
	font-size:150%;
}
.posting-r-title{
	color:#FFFFFF;
	font-size:120%;
}
.posting-r-content{
	color:#FFFFFF;
	font-size:120%;
}
.comm{
	margin:0px 0px 0px 0px;
	padding:15px 0px 0px 15px;
	border-radius :15px;
}
.comm_score{
	margin-top:10px;
	text-align: center;
	color:#D8D8D8;
}
.comm_one{
	vertical-align:top;
}
.comm_one_pic{
	height:50px;
	width:50px;
	background-color:#ED6976;
	border-radius:30px;

}
.comm_one_bar{
	margin-top:15px;
	height:8px;
	width:100%;
}
.comm_one_button{
	margin-top:15px;
	margin-left:2px;

}
.comm_two{
	width:85%;
	position:relative;
	margin:0% 0% 0% 5%;
	vertical-align:top;
}
.comm_two_content{
	font-size: 18px;
	position:relative;
	word-break: break-word;
	/* For Firefox */
	white-space: pre-wrap;
	word-break: break-all;
}
.comm_three{
	position:relative;
	top:-40px;
}
.comm_three_pic{
	display:inline-block;
	margin:0px 0px 0px 65px;
	padding:15px;
	border-radius: 15px;
	background-color: #E7E7E7;
}
.comm_three_code{
	display:inline-block;
	margin:0px 0px 0px 65px;
	padding:10px;
	border-radius: 10px;
	background-color: #E7E7E7;
}
.comm_three_pic > a{
	padding:5px;
}
.b{
	border:#EEEEEE;
}
hr{
	border-color:#C7C7C7;
	margin:0px;

}
.pretest_abc{
	position:relative;
	display:inline-block;
	height:150px;
	width:90px;
	margin-right:1%;
	margin-left:2%;
}
.pretest_a{
	display:block;
	position:absolute;
	white-space:normal; 
	word-break:break-all;
	height:120px;
	width:90px;
	background-color:#282828;
	z-index:2;
	border:2px solid #D8D8D8;
	border-radius: 20px;
	padding:10px;
	padding-bottom:30px;
	color:#ffffff;
	font-weight: 700;
	overflow:hidden;
	box-shadow:0px 0px 40px  10px rgba(0, 0, 0, .5) inset;
	text-shadow:0 1px 8px rgba(255, 255, 255, .5);
}
.pretest_b{
	position:absolute;
	height:50px;
	width:50px;
	border:2px solid #ffffff;
	border-radius:60px;
	bottom:5px;
	right:1px;
	z-index:4;

}
.pretest_b2{
	position:absolute;
	width:90px;
	height:120px;
	padding:10px;
	border-radius:20px;
	border:1px solid #000000;
	z-index:3;
}
.pretest_hiddenfn{
z-index:3;
display:none;
}
.pretest_img1{background-image: url('/images/wd-ico.png');}
.pretest_img2{background-image: url('/images/ppt-ico.jpg');}

.pretest_img3{background-image: url('/images/zip-ico.png');}
.pretest_img4{background-image: url('/images/file-ico.png');}

.pretest_hov:hover{
	background-image: url('/images/download-ico.png');
   	 opacity: 0.85;
	 transition: opacity .9s ease-in-out;
   -moz-transition: opacity .9s ease-in-out;
   -webkit-transition: opacity .9s ease-in-out;

}
.pretest_c{
	display:inline-block;
	width:90%;
	position:absolute;
	top:100px;
	height:20px;
	z-index:3;
	background-color:#FE1E1E;
		box-shadow:0px 0px 5px  1px rgba(255, 255, 255, .5) inset;
	border-radius:7px;
}



/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 20px; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; 
	background-color: white;
	margin-top:20px;
	margin-left:10px;
	border-radius: 30px;
	box-shadow:0px 0px 10px  3px rgba(0, 0, 0, 0.5) ;
	height:500px;
	overflow: scroll;
}

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-placeholder,.dd-handle{border-radius:30px;}
.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
	
	
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '▼'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '▲'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    .dd { float: left; width: 60%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 13px;
            border-radius: 13px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 15;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { font-weight: 900;content: 'Ⓣ'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #FF3F3F; }

/*one*/
.slider_scroll {
    height:100%;
}
		
/*one*/
#man_ss {
     top:0;
     left:-360px;
     width:360px;
     position:fixed;
     z-index:50;
}
/*oneone*/
.tab {
    color:#ffffff;
    text-align: center;
    padding-top:40px;
    font-family:Arial,Helvetica,sans-serif;
    text-align:center;padding:9px 0;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}
/*oneone*/
#man_tab {
	z-index:-1;
            position:absolute;
            bottom:20px;
            right:-40px;
            width:60px;
            background:#81a6f4;
            box-shadow:0px 0px 10px  3px rgba(0, 0, 0, 0.5) ;
}        
.tab span {
    display:block;
    height:30px;
    padding:2px;
    line-height:30px;
    text-transform:uppercase;
    font-size:20px;
}
#droppables{
	background-color:transparent;
	border:0px;

}


/*onetwo*/
.slider_content{
	height:100%;
	border-radius: 0px 15px 15px 0px;
	background-color:#81a6f4;
}	
/*onetwo*/
 #tag {
            text-align:center;
            padding-top:20px;
        }
#sc_one{
	width:100%;
}
#sc_toptext{
	text-align: right;
	color:#ffffff;
	font-size:20px;
	border-bottom: 2px solid white;
	padding-right:20px;
	margin-bottom:20px;
	display:block;
}
#texta{
	background-color:#81a6f4;;
	resize : none;
	border:1px solid white;
	background-color: white;
	width:100%;
}
#sc_edit{
	width:75%;
	background-color:white;
	padding:0px;
	border:0px;
	font-size:25px;
}
#sc_tag{
	width:100%;
	background-color:white;
	padding:0px;
	border:0px;
}
.trash_edit_area{
	display:inline-block;
	position:relative;
}
.te_edit{
	background-color: white;
	padding:10px 5px;
	border-radius: 10px;
	margin-bottom:15px;
	box-shadow:0px 0px 10px  3px rgba(0, 0, 0, 0.5) ;
}

.te_editico{
	display:block;
	font-size:36px;
	color:#383838;
}
.te_editico:hover{
	color:#2D42FE;
}
#te_edittext{
	color:#0F0507;
	font-size:10px;
}
.te_trash{
	background-color: white;
	padding:10px 5px;
	border-radius: 10px;
	box-shadow:0px 0px 10px  3px rgba(0, 0, 0, 0.5) ;
}
.te_trashico{
	display:block;font-size:36px;
	color:#383838;
}
#te_trashtext{
	color:#0F0507;
	font-size:10px;
}
::-webkit-scrollbar  {
    width: 5px;
}
::-webkit-scrollbar:horizontal{
   height:5px;
}
 
/* Track */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(67,67,67,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(67,73,255,0.8); 
}

@media (max-width: 768px) {
  .modal-lg {
    width: 100%;
  }
  .posting-bar-bar{
  	width:70%;
  }
  .posting-bar-scroe{
  	width:26%;
  }
}