.a{
	border :1px solid black;
}
body{
	background-color: #e1e1e1;
}

input[type="checkbox"]{
cursor: pointer;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;

background: #59595a;
border-radius: 10px;
box-sizing: border-box;
position: relative;
box-sizing: content-box;
width: 20px;
height: 20px;
border-width: 0;
transition: all .3s linear;
-webkit-transition: all .3s linear;
    -moz-transition:  all .3s linear;
}
input[type="checkbox"]:checked{
  background-color: #2ECC71;
}
input[type="checkbox"]:focus{
  outline: 0 none;
  box-shadow: none;
}
.upload{
	background-color: black;
	box-shadow:inset 2px 10px 100px 0px rgba(255, 255, 255,0.3);
	background-image: url('/images/classroom-ico1.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: bottom;
}
#area_upload{
		min-height:500px;
}
#upload_core{
	width:50%;
	height:50%;
	position:relative;
	top:5%;
	left:25%;

}

#upload_drop_preview{
	height:75%;
	border:2px solid white;
	border-style:dashed;
	border-top:0px;

	word-break:break-all;
	overflow:auto;
}
#upload_button{
	height:15%;
	border:3px solid white;
	font-size:20px;
	color:white;
	border-radius: 15px 15px 0px 0px;
	text-align: center;
}
#tag_input{
	border:3px solid white;
	border-top:0px;
	border-radius: 0px 0px 0px 15px;
	font-size:16px;
	color:blue;
	text-align: center;
	background-color:transparent;
	padding:0px;
	width:75%;
}
#pretest_upload_confirm{
	border:3px solid white;
	border-top:0px;
	border-left:0px;
	border-radius: 0px 0px 15px 0px;
	font-size:16px;
		color:white;
	text-align: center;
	background-color:transparent;;
	padding:0px;
	width:25%;
}
#filetype{
//background: linear-gradient(to bottom, rgba(50,71,255,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-color:#24226b;
}
.message_area{
	margin-bottom:20px;
}
.message_main{
	height:360px;
	overflow:scroll;
	overflow-x:hidden;
}
@media (max-width: 700px) {
	#upload_core{
		width:80%;
		left:10%;
	}
  #area_upload {
    max-height:400px;
  }
  #upload_drop_preview{
  	height:30%;
  }
  .message_area{
  	max-height:100px;
  }
  .message_main{
  	height:100px;
  }
}